body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.navbar {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: #212121;
    padding: 0 9px;
}

nav svg {
    height: 3.5vh;
    fill: #5f6368;
    cursor: pointer;
    padding: 0 15px;
}

.nav-button {
    background-color: #1a73e8;
    padding: 9px 23px;
    color: white;
    border-radius: 4px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 13px;

}

img {
    height: 10vh;
    margin: 10vh auto 0 auto;
    display: block;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.search-wrapper div{
    height: 5vh;
    display: flex;
    width: 50%;
}

.search-wrapper svg {
    position: absolute;
    height: 3%;
    align-self: center;
    padding-left: 15px;
    fill: #9aa0a6;
}

.search {
    border: 1px solid #dadce0;
    border-radius: 50px;
    width: 100%;
    height: 120%;
    align-self: center;
}


.search:hover {
    box-shadow: 1px 1px 8px #dadce0;
    border: 1px solid #fff;
}