body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.navbar {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
}

a {
    text-decoration: none;
    color: #212121;
    padding: 0 10px;
}

a:hover {
    text-decoration: underline;
}

nav svg {
    height: 3.5vh;
    fill: #5f6368;
    cursor: pointer;
    padding: 8px 8px;
}

nav svg:hover {
    background-color: #f0f0f0;
    border-radius: 50%;
}

.nav-button {
    background-color: #1a73e8;
    padding: 10px 23px;
    color: white;
    border-radius: 4px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
}

.nav-button:hover {
    background-color: #2b7de9;
    box-shadow: 0px 1px 2px rgb(43, 125, 233, 40%);
    text-decoration: none;
}

img {
    height: 13vh;
    margin: 5vh auto 0 auto;
    display: block;
}

.search-wrapper {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}


.search-wrapper div{
    height: 5vh;
    display: flex;
    width: 50%;
    margin-left: 6%;
}

.search-wrapper svg {
    position: absolute;
    height: 3%;
    align-self: center;
    padding-left: 15px;
    fill: #9aa0a6;
}

.search {
    border: 1px solid #dadce0;
    border-radius: 50px;
    width: 90%;
    height: 140%;
    align-self: center;
}


.search:hover {
    box-shadow: 1px 1px 8px #ccced1;
    border: 1px solid #fff;
}
